body {
  background-color: white;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  /* font-size: 20pt; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header {
background-color: gray;
font-family: 'Roboto Slab', serif;
display: flex; 
flex-direction: column;
 align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color:white;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 100px;
}


.hiddenButton{
  visibility: hidden;
}
.offer {
  color: red;
  font-size: medium;
}
.savingsTotal {
  color: red;
}

.shoppingBasket {
  background-color: green;
}
